In [73]:
import pandas as pd

#if we dont skip the first row, we will end up with a dataset with only one column.
data=pd.read_csv('LoanStats3a.csv',low_memory=False,skiprows=1)
print(data.shape)

#pretty interesting size! let's see how can be decrease the size for removing the text columns, such as url
data=data.drop(['url','desc'],axis=1)

# I also remove the columns with more than 50% missing values:
threshold=data.shape[0]/2
data=data.dropna(thresh=threshold,axis=1)
print(data.shape)

#we will save the data in a seprate file, just in case we wanted to epxplore the original file later on.
data.to_csv('loans_2007.csv', index=False)

(42538, 145)
(42538, 53)

Now it's time to take a deeper look at the data dictionary and find the columns that we'd like to drop. The strategy is as follows. We will drop columns that:
* leak information from the future (after the loan has already been funded)
* don't affect a borrower's ability to pay back a loan (e.g. a randomly generated ID value by Lending Club)
* formatted poorly and need to be cleaned up
* require more data or a lot of processing to turn into a useful feature
* contain redundant information

For this purpose, I have devided the columns in 3 sets, and then have looked at the data dictionary. The list of columns that will be droped are as follows:

In [74]:
drop_cols=["funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d",
           "zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp",
          "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"]


data=data.drop(drop_cols,axis=1)
data.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'disbursement_method', 'debt_settlement_flag'],
      dtype='object')

#### Target variable

The target variable is `loan status`, as we want to see if we can predict the payability of a loan.

In [75]:
target='loan_status'
data[target].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

The last two values for target variable do not exist in the data dictionary. Here's when background research comes in handy. Those two values represent the situation that the loan has been approved before, but it does not meet the new requirement. On the hand, we're interested to know whether someone will pay it's loan off or not. In this case, we can drop those values.

In [76]:
data=data[(data[target]=='Fully Paid')|(data[target]=='Charged Off')]

Then I'd like to replace the text values with numbers, I will use the mapping ability of pd.replace() method:

In [77]:
map={
    'loan_status':{
        'Fully Paid':1,
        'Charged Off':0,
    }
}
data=data.replace(map)

In [78]:
data[target].value_counts()

1    34116
0     5670
Name: loan_status, dtype: int64

Now let's find the number of unique values in each column. We'd like to drop any column that has only one unique value, as it will not impact the target variable.

In [79]:
one_unique_cols=[]
for col in data.columns:
    if len(data[col].value_counts().tolist())==1:
        one_unique_cols.append(col)

data=data.drop(one_unique_cols,axis=1)
data.shape

(39786, 24)

#### Preparing the feature and feature selection

My strategy is to first to deal with missing values, then convert categorical features to numerical.

In [80]:
print(data.shape[0])
data.isnull().sum().sort_values(ascending=False)

39786

pub_rec_bankruptcies    697
revol_util               50
title                    10
last_credit_pull_d        2
debt_settlement_flag      0
purpose                   0
term                      0
int_rate                  0
installment               0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_bal                 0
total_acc                 0
loan_amnt                 0
dtype: int64

Missing values are not alot! let's replace the null values with mean of columns:

In [81]:
data=data.fillna(data.mean())
print(data.isnull().sum())

loan_amnt                0
term                     0
int_rate                 0
installment              0
emp_length               0
home_ownership           0
annual_inc               0
verification_status      0
loan_status              0
purpose                  0
title                   10
addr_state               0
dti                      0
delinq_2yrs              0
earliest_cr_line         0
inq_last_6mths           0
open_acc                 0
pub_rec                  0
revol_bal                0
revol_util              50
total_acc                0
last_credit_pull_d       2
pub_rec_bankruptcies     0
debt_settlement_flag     0
dtype: int64

The reason the remaining null values do not change is that those columns are Objects. Let's remove those rows that contain missing values for now.

In [82]:
data=data.dropna(axis=0)

###### dealing with object columns
First let's store them in a seperate dataframe.

In [83]:
object_cols=data.select_dtypes(include=['object'])
object_cols.iloc[0]

term                      36 months
int_rate                     10.65%
emp_length                10+ years
home_ownership                 RENT
verification_status        Verified
purpose                 credit_card
title                      Computer
addr_state                       AZ
earliest_cr_line           Jan-1985
revol_util                    83.7%
last_credit_pull_d         Dec-2017
debt_settlement_flag              N
Name: 0, dtype: object

Let's count the number of unique variables in these columns:

In [84]:
for col in object_cols:
    print('unique values of {0} are'.format(col))
    print(data[col].value_counts())

unique values of term are
 36 months    29041
 60 months    10683
Name: term, dtype: int64
unique values of int_rate are
 10.99%    958
 13.49%    831
 11.49%    824
  7.51%    787
  7.88%    725
  7.49%    656
 11.71%    609
  9.99%    603
  7.90%    582
  5.42%    573
 11.99%    535
 12.69%    492
 10.37%    470
 12.99%    449
  6.03%    447
  8.49%    445
 12.42%    443
 10.65%    435
  5.79%    410
  8.90%    402
  7.29%    397
  6.62%    396
 11.86%    391
 14.27%    389
 10.59%    381
  9.63%    378
  9.91%    377
  5.99%    347
  7.14%    340
  6.99%    336
          ...
 15.83%      2
 17.15%      2
 15.01%      2
 14.88%      2
 21.82%      2
 20.20%      2
 17.03%      2
 15.07%      2
 14.25%      2
 22.94%      2
 14.62%      2
 18.36%      1
 10.64%      1
 18.72%      1
 16.33%      1
 16.20%      1
 16.01%      1
 17.54%      1
 17.44%      1
 16.15%      1
 21.48%      1
 14.67%      1
 24.59%      1
 22.64%      1
 17.34%      1
 16.96%      1
 24.40%      1
 17.46%      1
 20.52%      1
 16.71%      1
Name: int_rate, Length: 371, dtype: int64
unique values of emp_length are
10+ years    8897
< 1 year     4576
2 years      4389
3 years      4094
4 years      3435
5 years      3279
1 year       3240
6 years      2227
7 years      1771
8 years      1483
9 years      1259
n/a          1074
Name: emp_length, dtype: int64
unique values of home_ownership are
RENT        18881
MORTGAGE    17688
OWN          3056
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
unique values of verification_status are
Not Verified       16890
Verified           12833
Source Verified    10001
Name: verification_status, dtype: int64
unique values of purpose are
debt_consolidation    18661
credit_card            5134
other                  3985
home_improvement       2980
major_purchase         2182
small_business         1827
car                    1549
wedding                 947
medical                 693
moving                  581
house                   382
vacation                380
educational             320
renewable_energy        103
Name: purpose, dtype: int64
unique values of title are
Debt Consolidation                                2189
Debt Consolidation Loan                           1732
Personal Loan                                      661
Consolidation                                      516
debt consolidation                                 508
Home Improvement                                   357
Credit Card Consolidation                          357
Debt consolidation                                 334
Small Business Loan                                329
Credit Card Loan                                   319
Personal                                           309
Consolidation Loan                                 256
Home Improvement Loan                              249
personal loan                                      234
personal                                           220
Loan                                               213
Wedding Loan                                       209
consolidation                                      205
Car Loan                                           204
Other Loan                                         192
Credit Card Payoff                                 155
Wedding                                            154
Major Purchase Loan                                145
Credit Card Refinance                              144
Consolidate                                        127
Medical                                            122
Credit Card                                        119
home improvement                                   112
My Loan                                             94
Credit Cards                                        93
                                                  ...
blazer                                               1
Moving soon                                          1
Full Consolidation                                   1
Paying off car loan and one mini loan                1
HELP MY DEBT                                         1
Engagement Rign                                      1
looking for low apr loan                             1
Three Long Years                                     1
credit card fix                                      1
home improvement for retirement home                 1
Education loan for Masters                           1
Repairs and expenses                                 1
Payoff HELOC to refi house                           1
Pay of House                                         1
AB Consolidation Loan                                1
DIY Home Improvement                                 1
Business Advance Loan                                1
Jessica's Ring                                       1
Become Debt Free in 5 Years                          1
Looking to buy that diamond for my future wife       1
Paying off credit card for a lower rate              1
Debt_Merger-2011                                     1
Paying off my Credit Cards                           1
Clean Slate for Graphic Designer                     1
equine purchase                                      1
Say No To Bugs! - Pool Screen Cage                   1
kill chase                                           1
Credit card refinance and conslodation               1
Consolidate monthly payments                         1
Debt Consolidation and Security                      1
Name: title, Length: 19610, dtype: int64
unique values of addr_state are
CA    7095
NY    3815
FL    2869
TX    2729
NJ    1850
IL    1524
PA    1515
VA    1407
GA    1399
MA    1343
OH    1221
MD    1053
AZ     878
WA     841
CO     791
NC     788
CT     754
MI     722
MO     685
MN     613
NV     497
SC     472
WI     459
AL     451
OR     450
LA     436
KY     327
OK     299
KS     271
UT     259
AR     245
DC     212
RI     199
NM     190
WV     177
HI     173
NH     172
DE     113
MT      85
WY      83
AK      81
SD      63
VT      54
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64
unique values of earliest_cr_line are
Nov-1998    371
Oct-1999    366
Dec-1998    349
Oct-2000    345
Dec-1997    328
Nov-2000    320
Nov-1999    319
Oct-1998    306
Sep-2000    306
Nov-1997    299
Dec-1995    295
Dec-1999    290
Jan-2000    284
Dec-2000    284
Jul-2000    273
Nov-1996    272
Dec-1996    272
Aug-2000    271
Sep-2001    266
Oct-2001    266
Oct-2002    261
Sep-1999    258
Aug-1998    257
Apr-2000    255
May-2000    254
Aug-1999    251
Oct-1997    249
Sep-1998    247
Jan-1999    247
Oct-2003    245
           ...
Apr-1969      1
Jun-1967      1
Nov-1965      1
Sep-1965      1
Apr-1966      1
Oct-2008      1
Oct-1964      1
Dec-1950      1
Oct-1954      1
Nov-1961      1
Jul-1964      1
Nov-1962      1
Feb-1967      1
Dec-1961      1
Oct-1969      1
Jun-1959      1
Dec-1965      1
Dec-1966      1
Oct-1968      1
May-1967      1
Sep-1956      1
Jun-1968      1
Nov-1954      1
Nov-1968      1
Aug-1967      1
Feb-1966      1
Sep-1963      1
Dec-1963      1
Mar-1963      1
Jun-1972      1
Name: earliest_cr_line, Length: 526, dtype: int64
unique values of revol_util are
0%        980
0.2%       63
63%        62
40.7%      59
66.7%      58
0.1%       58
66.6%      57
46.4%      57
70.4%      57
31.2%      57
61%        57
37.6%      56
65.9%      56
25.5%      55
49.8%      55
48.9%      55
57.4%      55
64.8%      55
35.3%      54
78.7%      54
51.6%      54
75.5%      54
32%        54
64.6%      54
46.6%      54
68.6%      54
51.1%      54
89.5%      54
27.2%      54
76.6%      54
         ...
21.92%      1
9.34%       1
36.94%      1
8.01%       1
36.88%      1
18.82%      1
33.39%      1
29.77%      1
6.75%       1
58.77%      1
8.58%       1
49.69%      1
17.78%      1
47.36%      1
7.43%       1
39.95%      1
34.89%      1
24.66%      1
49.63%      1
24.65%      1
57.56%      1
0.49%       1
0.05%       1
10.61%      1
25.33%      1
8.49%       1
37.73%      1
10.08%      1
43.61%      1
12.42%      1
Name: revol_util, Length: 1089, dtype: int64
unique values of last_credit_pull_d are
Dec-2017    8999
Oct-2016    3992
Nov-2017     908
Oct-2017     822
Feb-2017     788
Sep-2017     681
Aug-2017     655
Feb-2013     581
Mar-2016     510
Jul-2017     502
Jun-2017     471
Mar-2013     434
May-2017     427
Mar-2017     419
Dec-2016     419
Nov-2016     404
Jan-2017     402
Sep-2014     388
Jul-2014     384
Mar-2014     384
Dec-2014     383
Apr-2017     380
Apr-2016     379
Aug-2014     376
Feb-2016     369
Feb-2014     364
Oct-2014     363
Jan-2014     352
Jan-2016     344
Apr-2014     336
            ...
Dec-2009      27
Jan-2010      27
Oct-2009      21
Nov-2009      19
Aug-2009      16
Feb-2009      16
Apr-2009      15
Aug-2007      15
Jul-2009      13
Jun-2009      12
Jan-2009      12
Jun-2007      12
May-2009      10
Mar-2009       9
Sep-2009       9
Oct-2008       8
Aug-2008       8
Sep-2008       5
Dec-2008       5
Mar-2008       4
Oct-2007       3
Jan-2008       3
Sep-2007       2
Feb-2008       2
May-2007       1
Dec-2007       1
May-2008       1
Jun-2008       1
Jul-2008       1
Jul-2007       1
Name: last_credit_pull_d, Length: 125, dtype: int64
unique values of debt_settlement_flag are
N    39577
Y      147
Name: debt_settlement_flag, dtype: int64

* Term: 2 values
* int-rate: could be converted to numerical
* emp_lengh: could be converted to numerical
* home_owenership: 4 values
* Purpose and Title have common unique values
* debt_settlement_flag: 2 values
* last_credit_pulled has actually some values in the future (2011 and beyond)

I'll drop the title column, it has some data quality issues including repetitive use of debt consolidation.
Also, considering last_credit_pulled and earliest_cr_line will transform our problem to a time series problem. Therfore, we will drop them for now.

In [85]:
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}

data = data.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state", "title"], axis=1)
data["int_rate"] = data["int_rate"].str.rstrip("%").astype("float")
data["revol_util"] = data["revol_util"].str.rstrip("%").astype("float")
data=data.replace(mapping_dict)

Let's now encode the rest of categorical columns to dummy variables.

In [86]:
cat_columns = ["home_ownership", "verification_status", "purpose", "term",'debt_settlement_flag']
prefix_dict={
    'home_ownership':'home_own',
    'verification_status':'veri_stat',
    'purpose':'purp',
    'term':'term',
    'debt_settlement_flag':'settle'
}
dummy_df=pd.get_dummies(data[cat_columns],prefix=prefix_dict)
dummy_df.head()
data=pd.concat([data,dumy_df],axis=1)
#dropping the original columns
data=data.drop(cat_columns,axis=1)

#### Model Fitting

First, it is important to notice the class imbalance. Fully paid cases are 6 times more than charged off cases, this might end up overfitting our model.

Also, I plan to use false positive and true positive rates as error metrics. Flase positive indicates "how many percentage of positive outcome does my model mis-predict?" True Positive ratio says: "How many percentage of positive outcome does my model predict right?

We use logistic regression for this binary classification, becuase:
* it's quick to train and we can iterate more quickly,
* it's less prone to overfitting than more complex models like decision trees,
* it's easy to interpret.

In [87]:
features=data.columns.tolist()
features.remove('loan_status')

In [91]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_predict, KFold

lr = LogisticRegression()
#passing on total number of elements (n), default number of folds are 3.
kf = KFold(data[features].shape[0], random_state=1)

predictions = cross_val_predict(lr, data[features], data[target], cv=kf)
predictions = pd.Series(predictions)

def tpr_fpr(predictions):
    
    # False positives.
    fp_filter = (predictions == 1) & (data["loan_status"] == 0)
    fp = len(predictions[fp_filter])
    
    # True positives.
    tp_filter = (predictions == 1) & (data["loan_status"] == 1)
    tp = len(predictions[tp_filter])
    
    # False negatives.
    fn_filter = (predictions == 0) & (data["loan_status"] == 1)
    fn = len(predictions[fn_filter])
    
    # True negatives
    tn_filter = (predictions == 0) & (data["loan_status"] == 0)
    tn = len(predictions[tn_filter])
    
    # Rates
    tpr = tp / (tp + fn)
    fpr = fp / (fp + tn)

    print('tpr is:',tpr)
    print('fpr is:', fpr)

          
tpr_fpr(predictions)

tpr is: 0.9991180880148162
fpr is: 0.9994685562444642

Too much of fpr! we should do something about class imbalance. We have the option of over and under sampling. But I chose to use penalizing the fully paid records.

In [92]:
lr = LogisticRegression(class_weight='balanced')
#passing on total number of elements (n), default number of folds are 3.
kf = KFold(data[features].shape[0], random_state=1)

predictions = cross_val_predict(lr, data[features], data[target], cv=kf)
predictions = pd.Series(predictions)

tpr_fpr(predictions)

tpr is: 0.6285092747743776
fpr is: 0.5918511957484499

Lower fpr, but how about we modify penalizing manually. We can do this by passing a dictionary to weight_class parametr of logictic regression:

In [93]:
penalty = {
    0: 10,
    1: 1
}

lr = LogisticRegression(class_weight=penalty)
#passing on total number of elements (n), default number of folds are 3.
kf = KFold(data[features].shape[0], random_state=1)

predictions = cross_val_predict(lr, data[features], data[target], cv=kf)
predictions = pd.Series(predictions)

tpr_fpr(predictions)

tpr is: 0.2034570949819208
fpr is: 0.19238263950398582

Substaintial improvement in fpr, but with the cost of very low tpr. From a conservative investor standpoint, it is good that fpr is low, but we'd like to improve our overall accuracy.

Now,let's use a random forest algorithm, as we have seen nonlinear relationship in our model.

In [99]:
from sklearn.ensemble import RandomForestClassifier

penalty = {
    0: 10,
    1: 1
}

clf=RandomForestClassifier(n_estimators=100, min_samples_leaf=25,class_weight=penalty)
predictions = cross_val_predict(clf, data[features], data[target], cv=kf)
predictions = pd.Series(predictions)

tpr_fpr(predictions)

tpr is: 0.5384072669547579
fpr is: 0.5073516386182463

Obviously, the model is not working properly. There are few ways to approach from here. Ensambling with other algorithms, tuning current algorithms, tweaking penalties, including the columns we already droped, etc.